/* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
@define-color black #252422;
@define-color red #EB5E28;
@define-color white #FFFCF2;
@define-color grey #CCC5B9;

* {
  margin: 0.5px;
}

* {
  font-family: "Iosevka Nerd Font Mono";
  font-size: 13px;
}

window#waybar {
  background-color: rgba(37, 36, 34, 0.8);
  color: @white;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar > box {
  padding: 3px;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @white;
}

#workspaces button {
  padding: 0 0px;
  background-color: transparent;
  border-radius: 4px;
}

#workspaces button:hover {
  background: alpha(@black, 0.5);
}

#workspaces button.focused {
  background-color: @white;
  color: @black;
}

#workspaces button.urgent {
  background-color: @red;
  color: @black;
}

#battery,
#bluetooth,
#clock,
#cpu,
#custom-displays,
#custom-notification,
#custom-screenshot,
#memory,
#disk,
#temperature,
#backlight,
#language,
#network,
#pulseaudio,
#mode,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  background-color: @white;
  color: @black;
  border-radius: 4px;
}

#mode {
  box-shadow: none;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* ------- */
/* Modules */
/* ------- */
#custom-notification {
  padding: 0 10px;
  border-radius: 4px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#language {
  min-width: 16px;
  padding: 5px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
